doctype html
html(ng-app='app')
  head
    title= title    
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    //unomment for dev envirmoent
    //link(rel='stylesheet', href='/stylesheets/style.css')

    //uncomment for production
    link(rel='stylesheet', href='/stylesheets/min/style.min.css')
        
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')

  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') GeoUpdate
        ul.nav.navbar-nav
          li
            a(href='/') Rutas
          li
            a(href='/app') App
          li.active
            a(href='/about') About

    .container-fluid
        h1 About

        h2 Icons
        a(href="https://icons8.com") Icons from 8icons 

        h2 API
        
        .panel.panel-primary
          .panel-heading
            h2 Insert route
          .panel-body
           h6 POST /api/insertroute/
           p
            |params
            br
            |{
            br 
            |"coor":[{"lng":2.1961383,"lat":41.5628167},{"lng":2.1961383,"lat":41.5628167}],
            br
            |   "images":[{"image": "string64" ,"lat":41.5438517,"lng":2.1990483},
            br
            |   "name":"Gallecs 2",
            br
            |   "statistics":{
            br
            |   "dateStart":"29/04/2017 10:55",
            br
            |   "dateEnd":"29/04/2017 13:18",
            br
            |   "distance":"10.17"
            br
            |   }
            br
            |}
          .alert.alert-success(role='alert')
           p return succed :
            br
            |{"_id":"592f07a86aec270011df9066"}

        .panel.panel-primary
          .panel-heading
           h2 Get all
          .panel-body
           h6 GET /api/allroutes/
          .alert.alert-success(role='alert')
           p
            |return succed :
            br
            |{
            br
            | [
            br
            | {"_id":"592f07a86aec270011df9066","startRoute":{"lng":2.2101599,"lat":41.5296313},"name":"Gallecs 1","statistics":{"dateStart":"29/04/2017 10:04","dateEnd":"29/04/2017 10:54","distance":"5.14"}},
            br
            | {"_id":"592f07ed6aec270011df9067","startRoute":{"lng":2.1961383,"lat":41.5628167},"name":"Gallecs 2","statistics":{"dateStart":"29/04/2017 10:55","dateEnd":"29/04/2017 13:18","distance":"10.17"}}
            br
            | ]
            br
            | }.

        .panel.panel-primary
          .panel-heading
           h2 Get route
          .panel-body
           h6 GET api/route/:id
           p
            |params 
            br
            | :id - identificador de la ruta.
          .alert.alert-success(role='alert')
           p
            | return succed :
            br
            |{
            br
            |  "_id":"592f07ed6aec270011df9067",
            br
            |  "coor":[{"lng":2.1961383,"lat":41.5628167},{"lng":2.1961383,"lat":41.5628167}],
            br
            |  "images":[{"name":"14962544452.jpg","lat":41.5438517,"lng":2.1990483},
            br
            |  "name":"Gallecs 2",
            br
            |  "statistics":{
            br
            |  "dateStart":"29/04/2017 10:55",
            br
            |  "dateEnd":"29/04/2017 13:18",
            br
            |  "distance":"10.17"}
            br
            |}

        .panel.panel-primary
          .panel-heading
           h2 Delete route
          .panel-body
           h6 Delete api/removeRouteById/
           p
            |params 
            br
            | id - identificador de la ruta.
            br 
            |{
            br
            | id : 592f07ed6aec270011df9067
            br
            |}
          .alert.alert-success(role='alert')
           p
            | return succed :
            br
            | 200

        .panel.panel-primary
          .panel-heading
           h2 Get imagen
          .panel-body
           h6 Get api/imagesRoutes/:file/
           p
            |params 
            br
            | file - nombre de la imagen.
          .alert.alert-success(role='alert')
           p
            | return succed : 
            br
            |image/jpg
           
            

   


        
