extends layout

block content
  nav.navbar.navbar-inverse
    .container-fluid
        .navbar-header
          a.navbar-brand(href='/') GeoUpdate
        ul.nav.navbar-nav
          li
            a(href='/') Rutas
          li.active
            a(href='/app') App
          li
            a(href='/about') About


  .container-fluid
    header
     section.download
      .row.col-md-10.header-center
        #myCarousel.carousel.slide(data-ride='carousel')
          // Indicators
          ol.carousel-indicators
            li.active(data-target='#myCarousel', data-slide-to='0')
            li(data-target='#myCarousel', data-slide-to='4')                
          // Wrapper for slides
          .carousel-inner(role='listbox')
            .item.active
              .row
                h1.DownloadApp See images and the path done on your routes
              .row
                img(style="height : 25%; width : 25%" src="/images/1.png")                            
            .item
              .row
                h1.DownloadApp See the images that were taken on your route
              .row
                img(style="height : 25%; width : 25%" src="/images/2.png")                                
            .item
              .row
                h1.DownloadApp Upload or remove your route to the web
              .row
                img(style="height : 25%; width : 25%" src="/images/3.png")
            .item
              .row
                h1.DownloadApp Take picutres and see the path done while you do the route
              .row
                img(style="height : 25%; width : 25%" src="/images/4.png")
          a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
          a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next
      .row.col-md-2.header-center        
        h3.DownloadApp Bájate la app!            
          .badges
            a.badge-link(href='../apk/app.apk')
              img(src='images/google-play-badge.svg', alt='', style="margin-top : 50px")            