extends layout

block content
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') GeoUpdate
        ul.nav.navbar-nav
          li.active
            a(href='/') Rutas
          li
            a(href='/app') App
          li
            a(href='/about') About

    #container.row(ng-controller='mainPageController', ng-init="init()")
       .col-lg-3#cards
        ul
          div.w3-panel.w3-card-2(ng-repeat='route in allrouteArr', ng-click="openRoute($index)",          ng-mouseover="indicateMarker($index)", ng-mouseleave="resetMarker($index)")
            h2 {{route.name}}
            p Start : {{route.statistics.dateStart}}
            p End : {{route.statistics.dateEnd}}
            p {{route.statistics.distance}} km
       .col-lg-9#map
