doctype html
html(ng-app='app')
  head
    title= title    
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    
    //unomment for dev envirmoent
    //link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='/stylesheets/app.css')

    //uncomment for production
    link(rel='stylesheet', href='/stylesheets/min/style.min.css')
    link(rel='stylesheet', href='/stylesheets/min/app.min.css')

    
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyDHFqPU9Rfbc1ulamoy3gwalX9ng4jp0Y0')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js')

    //unomment for dev envirmoent
    //script(type='text/javascript', src='../javascripts/mainPageController.js')    

    //uncomment for production
    script(type='text/javascript', src='../javascripts/min/mainPageController.min.js')    
  body        
    block content
