doctype html
html(ng-app='app')
  head
    title= title    
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    
    //unomment for dev envirmoent
    //link(rel='stylesheet', href='/stylesheets/style.css')
    
    //uncomment for production
    link(rel='stylesheet', href='/stylesheets/min/style.min.css')
    

    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyDHFqPU9Rfbc1ulamoy3gwalX9ng4jp0Y0')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js')

    //unomment for dev envirmoent
    //script(type='text/javascript', src='../javascripts/routeController.js')

    //uncomment for production
    script(type='text/javascript', src='../javascripts/min/routeController.min.js')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') GeoUpdate  
    #containerRoute(ng-controller='routeController',ng-init="init('#{_id}')")
      h2 {{routeName}}          
      #mapRoute

      #ImageMarkerContainer
        img#ImageMarker
      #listImagesRoutes
        div(ng-repeat='routeImg in routeImages')                    
          a(href="/api/imagesRoutes/{{routeImg.name}}")
            img.imgRoute(src="/api/imagesRoutes/{{routeImg.name}}", ng-mouseover="indicateMarker($index)", ng-mouseleave="resetMarker($index)")                        
      .row.well(style="margin-top : 2%")
        p Time {{routeDateStart}} - {{routeDateEnd}}
        p Distance {{routeDistance}} Km

      