html,body {
   margin: 0;
   height: 100%;
}

/*-------Navbar---------*/
.navbar {
    margin-bottom: 0px;
}

.navbar-inverse {
    background-color: #339966;
    border-color: #339966;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #060606;
    background-color: #f3f0f0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #0c0c0c;
}

.navbar-inverse .navbar-brand {
    color: #f9f5f5;
}	

ul.nav.navbar-nav {
	margin-left: 17.5%;
}

/*-------Navbar---------*/

#container {
  height: 100%;   
}

#containerRoute {
	height: 100%;	
  padding-left: 3%;
}

#cards {
	height: 100%;
  overflow-y: scroll;
}

#map {
	height: 100%;
}

#mapRoute {  
  margin-left: -1%;
  margin-right: 1%;
  float: left;
  height: 70%;
  width: 70%;  
}

.imgRoute {
  height: 50%;
  width: 50%; 
  float: left;
  margin-top: 3%;  
}

#ImageMarker {
  height: 50%;
  width: 90%;  
}

#listImagesRoutes, #ImageMarkerContainer {    
  height: 70%;
  overflow-y: scroll;
}


/*header*/
.DownloadApp {
  color: black;
}

.imageHeaderLeft {
  /*float: inherit;
  margin-left : 10%;*/
}

.header-center{
  margin-top: 10%;
}

/*------ Carousel -------*/

#myCarousel{
  /*display: initial;*/
}

.carousel-control.right {
    background-image: none;
    left: auto;
    right: 0;
}

.carousel-control.left {
    background-image: none;
    right: auto;
    left: 0;
}

.item > img {
    margin: 0 auto;
}

.carousel-control {
    color: #000;
}

.carousel-indicators li {    
    background-color: none;
}

.ptextCarrosel{
  width: 75%;
  text-align: center;
  margin-left: 12%;
}